In [1]:
# Data Visualization
# BTech Computer Science Stream , January 2025
# Week 4: Pandas, Data loading, Storage and File formats Exercises
# Name: Param Shah , Reg No: 240905320 , Date: 3/2/2025

In [33]:
import pandas as pd

In [34]:
# Question 1

In [35]:
temp_lst=[38,35,28,23,34,31,27]
temp=pd.Series(temp_lst,index=["Monday","Tuesday","Wednesday","Thursday","Friday","Saturday","Sunday"])
print(temp)
print("\n")
print(f"Average Temperature: ",end=" ")
print(f"{temp.mean():.5f}")

print("Maximum Temperature: ",end=" ")
print(temp.max())

print("Minimum Temperature: ",end=" ")
print(temp.min())

value=int(input("Enter Value"))
temp_new = temp *9/5 + 32
print(f"\nTemperatures in 째F:")
print(temp_new)

temp_new = temp[temp>temp.mean()]
print("\nTemperatures greater than average temperature:")
print(temp_new)

temp_new = temp[temp > value]
print(f"\nTemperatures greater than {value}째C:")
print(temp_new)

Monday       38
Tuesday      35
Wednesday    28
Thursday     23
Friday       34
Saturday     31
Sunday       27
dtype: int64


Average Temperature:  30.85714
Maximum Temperature:  38
Minimum Temperature:  23
Enter Value34

Temperatures in 째F:
Monday       100.4
Tuesday       95.0
Wednesday     82.4
Thursday      73.4
Friday        93.2
Saturday      87.8
Sunday        80.6
dtype: float64

Temperatures greater than average temperature:
Monday      38
Tuesday     35
Friday      34
Saturday    31
dtype: int64

Temperatures greater than 34째C:
Monday     38
Tuesday    35
dtype: int64

In [36]:
# Question 2

In [37]:
data = {
    'Roll Number': [1, 2, 3, 4, 5, 6, 7, 8, 9, 10],
    'Name': ['Player 1','Player 2','Player 3','Player 4','Player 5','Player 6','Player 7','Player 8','Player 9','Player 10'],
    'Gender': ['F', 'M', 'M', 'M', 'F', 'M', 'F', 'F', 'M', 'F'],
    'Marks1': [45, 78, 56, 34, 89, 67, 23, 90, 55, 40],
    'Marks2': [67, 45, 78, 23, 56, 89, 34, 90, 12, 50],
    'Marks3': [78, 90, 67, 45, 88, 76, 54, 92, 60, 70]
}

df = pd.DataFrame(data)
df.set_index('Roll Number', inplace=True)
print("Student DataFrame:")
print(df)

df['Total Marks'] = df['Marks1']+df['Marks2']+df['Marks3']
print("\nDataFrame with Total Marks:")
print(df)

low_marks1 = df['Marks1'].min()
print("\nLowest Marks in Marks1:", low_marks1)

high_marks2 = df['Marks2'].max()
print("Highest Marks in Marks2:", high_marks2)

avg_marks3 = df['Marks3'].mean()
print("Average Marks in Marks3:", avg_marks3)

df['Average'] = df[['Marks1', 'Marks2', 'Marks3']].mean(axis=1)
highest_avg = df.loc[df['Average'].idxmax(), 'Name']
print("Student with Highest Average Marks:", highest_avg)

failed = df[df['Marks2'] < 40].shape[0]
print("Number of students failed in Marks2 (<40):", failed)

Student DataFrame:
                  Name Gender  Marks1  Marks2  Marks3
Roll Number
1             Player 1      F      45      67      78
2             Player 2      M      78      45      90
3             Player 3      M      56      78      67
4             Player 4      M      34      23      45
5             Player 5      F      89      56      88
6             Player 6      M      67      89      76
7             Player 7      F      23      34      54
8             Player 8      F      90      90      92
9             Player 9      M      55      12      60
10           Player 10      F      40      50      70

DataFrame with Total Marks:
                  Name Gender  Marks1  Marks2  Marks3  Total Marks
Roll Number
1             Player 1      F      45      67      78          190
2             Player 2      M      78      45      90          213
3             Player 3      M      56      78      67          201
4             Player 4      M      34      23      45          102
5             Player 5      F      89      56      88          233
6             Player 6      M      67      89      76          232
7             Player 7      F      23      34      54          111
8             Player 8      F      90      90      92          272
9             Player 9      M      55      12      60          127
10           Player 10      F      40      50      70          160

Lowest Marks in Marks1: 23
Highest Marks in Marks2: 90
Average Marks in Marks3: 72.0
Student with Highest Average Marks: Player 8
Number of students failed in Marks2 (<40): 3